@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme{
  --font-montserrat: 'Montserrat', sans-serif; ;
}
@utility container {
    margin-inline : auto;
    padding-inline : 2rem;

    @media (width >= 640px) {
        max-width : 640px;
    }
    @media (width >= 768px) {
        max-width : 768px;
    }
    @media (width >= 1024px) {
        max-width : 1024px;
    }
    @media (width >= 1280px) {
        max-width : 1280px;
    }
    @media (width >= 1400px) {
        max-width : 1400px;}
}
body{
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #FFFFFF;
}  
