
@import url('https://fonts.googleapis.com/css2?family=Georgia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "tailwindcss";
@font-face {
  font-family: 'MyGeorgia';
  src: url('/fonts/georgia.woff2') format('woff2');
  font-display: swap;
}
@theme {
  --font-georgia: "Georgia", "MyGeorgia", serif;
  --font-sans: "Georgia", "MyGeorgia", ui-sans-serif, system-ui, sans-serif;
   --font-montserrat: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}